[buildout]
extends = http://dist.plone.org/release/5.0.8/versions.cfg doc.cfg
show-picked-versions = true
extensions = mr.developer
parts =
    instance
    test
    zopepy
    code-analysis
    releaser
    i18ndude
    omelette
    robot
    createcoverage
    
develop = .
sources = sources
auto-checkout = collective.abctransforms eh.debug

[sources]
collective.abctransforms = fs collective.abctransforms path=..
plonewebcomponent.midiplayer = fs plonewebcomponent.midiplayer path=..
eh.debug = fs eh.debug path=..

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    Products.CMFPlone
#    plone.app.debugtoolbar
    plone.reload
    eh.debug
    collective.abctransforms
    collective.abctune [test]
    webcouturier.dropdownmenu
    plone.app.mosaic

environment-vars =
    zope_i18n_compile_mo_files true

[code-analysis]
recipe = plone.recipe.codeanalysis
# recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/collective
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
return-status-codes = True
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding
    flake8-quotes
#    pep8-naming

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    ${test:eggs}
interpreter = zopepy
scripts =
    zopepy
    plone-generate-gruntfile
    plone-compile-resources

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[grunt-compile]
recipe = plone.recipe.command
command = cd ${buildout:directory}; grunt compile
update-command = cd ${buildout:directory}; grunt compile

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'collective.abctune', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[versions]
# Don't use a relased version of collective.abctune
collective.abctune =

setuptools =
zc.buildout =
zc.recipe.egg = 2.0.3
flake8 = 3.3.0
flake8-isort = 2.0.1
i18ndude = 4.0.1
robotframework = 3.0
robotframework-ride = 1.5.2.1
robotframework-selenium2library = 1.7.4
robotsuite = 1.7.0
selenium = 2.53.6
plone.testing = 5.0.0
coverage = 4.2
#
collective.dexteritytextindexer = 2.2.1
#
# Mosaic
plone.tiles = 1.8.3
plone.subrequest = 1.8.1
plone.app.tiles = 3.0.3
plone.app.standardtiles = 2.2.0
plone.app.blocks = 4.1.0
plone.app.drafts = 1.1.2
plone.app.mosaic = 2.0rc8
plone.formwidget.multifile = 2.0
plone.jsonserializer = 0.9.3
