@import "abcjs_editor.less";
@import "abctune-menu.less";


body {
	/* */
	/* color: red; */
}

/*
 * div qui contient le message d'avertissement de modification de
 * l'ABC
 */
#abctune-message {
	position: fixed;
    top: 250px;
    right: 0px;
    display: none;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    border-radius: 10px;
}

/*
 * Edition de l'ABC
 */
div#abc-view {
	div#abc-edition {
		-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
		&:hover {
			-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
		    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
		    box-shadow: 2px 2px 4px rgba(0, 255, 0, .5);
		}
	}
}

.btn-danger {
	background-color: #D9534F;
	color: white;
}