@import "abcjs_editor.less";
@import "abctune-menu.less";


body {
	/* */
	/* color: red; */
}
#abctune-message {
	position: fixed;
    top: 250px;
    right: 0px;
    display: none;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    border-radius: 10px;
}
